before_build:
- nuget restore

build:
  project: ContentSerializer.sln
  verbosity: minimal

after_test:
  - .\packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -target:"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\MSTest.exe" -targetargs:"/noresults /noisolation /testcontainer:"".\ContentSerializerTests\bin\Debug\ContentSerializerTests.dll" -filter:"+[ContentSerializer]*  -[ContentSerializer]ContentSerializer.Properties.*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -output:.\ContentSerializer_coverage.xml
  - .\packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -target:"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\MSTest.exe" -targetargs:"/noresults /noisolation /testcontainer:"".\LeagueLibTests\bin\Debug\LeagueLibTests.dll" -filter:"+[LeagueLib]*  -[LeagueLib]ContentSerializer.Properties.*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -output:.\LeagueLib_coverage.xml
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
  - pip install codecov
  - codecov -f "ContentSerializer_coverage.xml"
  - codecov -f "LeagueLib_coverage.xml"
